<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <form>
        <div class="form-group">
            <label for="old-pass">原密码</label>
            <div class="input-group">
                <span class="input-group-addon ">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input type="password" class="form-control" id="old-pass">
            </div>
        </div>

        <div class="form-group">
            <label for="new-pass">新密码</label>
            <div class="input-group">
                <span class="input-group-addon ">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input type="password" class="form-control" id="new-pass">
            </div>
        </div>

        <div class="form-group">
            <label for="re-pass">确认密码</label>
            <div class="input-group">
                <span class="input-group-addon ">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input type="password" class="form-control" id="re-pass">
            </div>
        </div>
    </form>
</html>